.extract-wrapper {

}
.extract-title{
  margin-bottom: 36px;
}
.extract-title span{
  width:182px;
  height:44px;
  display: inline-block;
  background: #a0a0a0;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  margin-right: 14px;
  line-height: 44px;
  font-size: 16px;
  cursor: pointer;
}
.extract-title .focus{
  background: #84ccc9;
}
@media (max-width: 1400px) {
  .extract-title span{width:142px;}
}
