.result-wrapper {
  position: relative;
  width: 100%;
  background: #f9f9f9;
}

.result-header {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  height: 72px;
  background: #f9f9f9;
  z-index: 1000;
}
.result-header .container{
  display: flex;
  justify-content: center;
  height: 100%;
  border-bottom: 1px solid #d8d8d8;
}
.menu-item {
  flex: 0 0 70px;
  width: 70px;
  height: 100%;
  line-height: 85px;
  margin-right: 20px;
  text-align: center;
  box-sizing: border-box;
  font-size: 15px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
.back{
  width: 70px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #dedede;
  background: #4db9d3;
  border-radius: 8px;
  text-align: center;
  box-sizing: border-box;
  font-size: 15px;
  color: #fff;
  margin-top: 22px;
  text-decoration: none;
  cursor: pointer;
}
.menu-item:hover {
  color: #4db9d3;
}
.selected.menu-item {
  color: #4db9d3;
  border-bottom: 3px solid #4db9d3;
}

/* 内容区域 */
.result-content {
  margin-top: 102px;
  overflow: auto;
  padding-bottom: 200px;
}


