.left.item .content {
  font-size: 15px;
  line-height: 35px;
  padding: 30px;
  color: #333;
}
.extract-title{
  margin-bottom: 36px;
}
.extract-title span{
  width:182px;
  height:44px;
  display: inline-block;
  background: #a0a0a0;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  margin-right: 14px;
  line-height: 44px;
  font-size: 16px;
  cursor: pointer;
}
.extract-title .focus{
  background: #84ccc9;
}
.extract-content div span{
  border-bottom: 1px dashed #d9d9d9;
  padding-bottom: 10px;
  display: block;
}
.extract-content .extract-model{
  margin-top: 20px;
  padding: 0 20px;
}
@media (max-width: 1400px) {
  .extract-title span{width:134px;}
}
