.checkbox-wrapper {
/*  display: flex;
  flex-wrap: wrap;*/
}
.checkbox {
  position: relative;
  flex: 0 0 33%;
  width: 33%;
  margin-bottom: 10px;
  height: 20px;
}
.checkbox div{
  word-wrap:break-word;
  display: table;
  width: 100%;
  table-layout: fixed;
}
input {
  position: absolute;
  vertical-align: middle;
  top: 5px;
  left: 10px;
}
.color {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 6px;
  left: 29px;
}
.left-mini.color {
  left: 15px;
}
.des {
  position: absolute;
  top: 2px;
  left: 45px;
  font-size: 14px;
  color: #333;
}
.left-mini.des {
  left: 35px;
}
