<div class="container padding-header">
  <div class="tabs">
    <div class="tab_item tab_margin" (click)="textDemo()" [class.tab_focus]="textShow==1">文本DEMO</div>
    <div class="tab_item" (click)="uploadText()" [class.tab_focus]="textShow==2">上传文本文件</div>
    <div class="tab_item" (click)="bigText()" [class.tab_focus]="textShow==3">超大文本文件</div>
  </div>
  <div [style.display]="textShow==1?'':'none'">
    <textarea class="textarea" maxlength="2000" [(ngModel)]="txtValue" placeholder="建议输入2000字以内" id="demoTxt" (keyup)="textChange()"></textarea>
    <div class="btn ready" [style.display]="textBtn==1?'':'none'">开始文本分析</div>
    <div class="btn start" [style.display]="textBtn==2?'':'none'">开始文本分析</div>
    <div class="btn ongoing" [style.display]="textBtn==3?'':'none'">文本分析中...</div>
    <div class="btn end" [style.display]="textBtn==4?'':'none'">查看文本分析结果</div>
  </div>
  <div [style.display]="textShow==2?'':'none'">
    <div class="uploadContainer" id="uploadTxt">
      <table class="uploadShow" *ngIf="uploader.queue.length>0">
        <tr *ngFor="let item of uploader.queue" class="uploadTr" [ngClass]="{border: item.headers.flag==1}">
          <td class="uploadTxt paddingLeft"><img src="../assets/text_input/unupload.png" class="imgMiddle right" [style.display]="item.progress==0?'':'none'"/><img src="../assets/text_input/upload.png" class="imgMiddle right"  [style.display]="item.progress!=100&&item.progress!=0?'':'none'"/>{{item.file.name}}<span *ngIf="(item.file.size/1024)>=1024">（{{item.file.size/1024/1024|number:'1.2-2'}}）MB</span><span *ngIf="(item.file.size/1024)<1024">（{{item.file.size/1024|number:'1.2-2'}}）KB</span></td>
          <td class="uploadImg paddingRight"><img src="../assets/text_input/delete.png" class="imgMiddle" (click)="item.remove()" /></td>
          <div class="progressouter" [style.display]="item.headers.flag==1?'none':''">
            <span>{{item.progress}}%</span>
            <div class="progressinner" [ngStyle]="{width: item.progress + '%'}"></div>
          </div>
        </tr>
      </table>
      <div class="inputContent inputContentNo" [ngClass]="{inputContentYes: uploader.queue.length>0}" ng2FileDrop [ngClass]="{dropping: isDropZoneOver}" (fileOver)="fileOverBase($event)" (onFileDrop)="fileDropOver($event)" [uploader]="uploader">
        <span onclick="document.getElementById('file').click()">上传文件（可拖拽）</span>
        <input type="file" id="file" name="file" multiple ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)"/>
        <p>支持txt/doc/docx/pdf格式文件，建议总文件数10个以内</p>
      </div>
    </div>
    <div class="btn ready" *ngIf="uploader.queue.length==0">开始文本分析</div>
    <div class="btn start" *ngIf="uploader.queue.length>0" (click)="result()">开始文本分析</div>
    <div class="btn ongoing" [style.display]="uploadBtn==3?'':'none'">文本分析中...</div>
    <div class="btn end" [style.display]="uploadBtn==4?'':'none'">查看文本分析结果</div>
  </div>
  <div [style.display]="textShow==3?'':'none'">

  </div>
  <div class="dialog" [style.display]="tip==1?'':'none'">
    <div class="dialogContainer addDialogContainer">
      <div class="dialogHeader">
        <span>系统提示</span>
      </div>
      <div class="dialogContent" style="text-align: center">
        <img src="../assets/text_input//warning.png" class="imgMiddle"/>
        <span class="imgMiddle" style="padding-left: 10px">该文件不得超于50MB！</span>
      </div>
      <div class="delSys">
        <a href="javascript:void(0)" class="diabtn" (click)="cancel()">确定</a>
      </div>
    </div>
  </div>
</div>
