.tip-class {
  display: inline-block;
  margin: 5px 0;
  transition: 0.3s all linear 0s;
}
.tip-class:first-child {
  margin: 0 0;
}
.tips {
  display: inline-block;
  transition: 0.3s all linear 0s;
}
.tip {
  display: inline-block;
  padding: 3px 8px;
  color: #fff;
  margin: 4px;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
  transition: 0.1s all linear 0s;
  cursor: default;
}
/*.tip:hover {
  box-shadow: 0 0 7px rgba(0,0,0,0.6);
}*/
