.container{
  width:1200px !important;
}
.tabs{
  width:100%;
  height:52px;
  border-radius: 5px;
  -o-box-shadow:0 0 10px rgba(130,130,130,0.2);
  -ms-box-shadow:0 0 10px rgba(130,130,130,0.2);
  -webkit-box-shadow:0 0 10px rgba(130,130,130,0.2);
  -moz-box-shadow:0 0 10px rgba(130,130,130,0.2);
  box-shadow:0 0 10px rgba(130,130,130,0.2);
  margin:30px auto 20px;
  overflow: hidden;
}
.tab_item{
  float: left;
  width:144px;
  text-align: center;
  line-height: 50px;
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  cursor: pointer;
}
.tab_margin{
  margin-left: 10px;
}
.tab_focus{
  color: #4db9d3;
  border-bottom: 2px solid #4db9d3;
}
.textarea{
  width:1140px;
  height:414px;
  border:0;
  border-radius: 5px;
  -o-box-shadow:0 0 10px rgba(130,130,130,0.2);
  -ms-box-shadow:0 0 10px rgba(130,130,130,0.2);
  -webkit-box-shadow:0 0 10px rgba(130,130,130,0.2);
  -moz-box-shadow:0 0 10px rgba(130,130,130,0.2);
  box-shadow:0 0 10px rgba(130,130,130,0.2);
  resize : none;
  outline: none;
  color: #333333;
  font-size: 16px;
  padding:33px 30px 0 30px;
  line-height: 34px;
}
textarea::-webkit-input-placeholder {
  color: #999999;
}
textarea:-ms-input-placeholder {
  color: #999999;
}
textarea:-moz-placeholder, textarea:-moz-placeholder {
  color:#999999;
}
textarea::-moz-placeholder, textarea::-moz-placeholder {
  color:#999999;
}
.btn{
  width:100%;
  height:52px;
  line-height: 52px;
  font-size: 16px;
  color: #f0f0f0;
  text-align: center;
  margin-top: -4px;
}
.ready{
  background: #b2b2b2;
}
.start{
  background: #4db9d3;
}
.ongoing{
  background: #f0854a;
}
.end{
  background: #e96749;
}
.inputContent{
  vertical-align: middle;
  font-size: 16px;
  text-align: center;
}
.uploadContainer{
  width:100%;
  border:0;
  border-radius: 5px;
  -o-box-shadow:0 0 10px rgba(130,130,130,0.2);
  -ms-box-shadow:0 0 10px rgba(130,130,130,0.2);
  -webkit-box-shadow:0 0 10px rgba(130,130,130,0.2);
  -moz-box-shadow:0 0 10px rgba(130,130,130,0.2);
  box-shadow:0 0 10px rgba(130,130,130,0.2);
}

.inputContentNo{
  padding:182px 0 172px;
}
.inputContentYes{
  padding:90px 0 96px !important;
}
.inputContent span{
  margin:0 auto;
  background: #4db9d3;
  color: #f0f0f0;
  display: block;
  width:284px;
  height:52px;
  line-height: 52px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}
.inputContent p{
  margin-top: 24px;
  color: #999999;
}
#file{
  display: none;
}
ul,li{
  list-style: none;
  margin:0;
  padding:0;
}
.uploadTxt{
  font-size: 14px;
  width:378px;
  color: #4db9d3;
  float: left;
  display: inline-block;
  text-align: left;
  padding-top: 2px;
}
.uploadImg{
  float: left;
  display: inline-block;
  width:378px;
  text-align: right;
  margin-bottom: 12px;
}
.imgMiddle{
  display: inline-block;
  vertical-align: middle;
}
.right{
  margin-right: 12px;
}
.paddingRight{
  padding-right: 20px;
}
.paddingLeft{
  padding-left: 20px;
}
td{
  padding:0;
}
.uploadShow{
  width:800px;
  margin:0 auto;
  padding-top: 80px;

}
.uploadTr{
  border-collapse:collapse;
  display: block;
  padding:20px 0 10px 0;
  overflow: hidden;
}
.border{
  border-bottom: 1px solid #d3d3d3;
}
.progressouter{
  width:776px;
  height:18px;
  background: #999999;
  border:1px solid #b5b5b5;
  border-radius: 10px;
  box-shadow:0px 5px 5px #818181 inset;
  clear: both;
  margin:0 auto;
  text-align: center;
  color: #ffffff;
  position: relative;
}
.progressouter span{
  position: absolute;
  z-index: 999;
  color: #ffffff;
  display: inline-block;
  height:20px;
  line-height: 20px;
}
.progressinner{
  /*background: #ed8942;*/
  background: linear-gradient(rgb(236,148,81),rgb(235,123,53));
  border-radius: 10px;
  height:18px;
  /*box-shadow:0px 2px 2px #ccc inset;*/
  margin:0 1px;
}
.dialog{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(111, 111, 111, 0.3);
  opacity: 1;
}
.dialogContainer{
  position: absolute;
  width: 800px;
  height:auto;
  top: 80px;
  left: 50%;
  margin-left: -400px;
  background: #fff;
  color: #FFF;
  border-radius: 5px;
  border:1px solid #ccc;
  -webkit-box-shadow:0 0 10px #999999;
  -moz-box-shadow:0 0 10px #999999;
  box-shadow:0 0 10px #999999;
  z-index: 1111111;
}
.addDialogContainer{
  top:50%;
  width:506px;
  left:50%;
  margin-left: -253px;
  margin-top: -195px;
  font-size: 14px;
}
.dialogHeader{
  background: #eeeeee;
  color: #333333;
  border-top-left-radius :5px;
  border-top-right-radius:5px;
}
.dialogHeader,.dialogContent{
  position: relative;
  color: #333333;
  left:0;
}
.dialogHeader span{
  display: block;
  height:40px;
  line-height: 40px;
  padding-left: 34px;
  margin-bottom: 42px;
}
.delSys{
  text-align: center;
  padding:50px 0 42px;
}
.diabtn{
  display: inline-block;
  color: #333333;
  font-size: 14px;
  width:114px;
  height:30px;
  text-align: center;
  line-height: 30px;
  background: #eeeeee;
  border-radius: 5px;
  border:1px solid #d3d3d3;
  margin-left: 14px;
  text-decoration: none;
}
@media only all and (max-width: 1600px) {
  .container {
    width: 1170px !important;
  }
  .textarea{
    width: 1110px !important;
  }
  .uploadShow{
    width:770px !important;
  }
  .progressouter{
    width:746px !important;
  }
  .uploadTxt,.uploadImg{
    width:363px !important;
  }
}
@media only all and (max-width: 1400px) {
  .container {
    width: 998px !important;
  }
  .textarea{
    width: 938px !important;
  }
  .uploadShow{
    width:598px !important;
  }
  .progressouter{
    width:574px !important;
  }
  .uploadTxt,.uploadImg{
    width:277px !important;
  }
}
@media only all and (max-width: 1170px) {
  .container {
    width: 768px !important;
  }
  .textarea{
    width: 708px !important;
  }
  .uploadShow{
    width:368px !important;
  }
  .progressouter{
    width:344px !important;
  }
  .uploadTxt,.uploadImg{
    width:162px !important;
  }
}

